# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: AutomatedAF
email: hello@automatedaf.dev
tagline: Professional build engineering, QA automation, and training for video game studios.
description: >- # this means to ignore newlines until "baseurl:"
  Professional build engineering, QA automation, and training for video game studios. We handle the boring stuff so you can ship the fun stuff.
url: "https://automatedaf.dev" # the base hostname & protocol for your site. Ex: "http://example.com"
logo: /assets/logo_automatedaf_color_trans.png
og_image: /assets/og_image.png

# Build settings
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - Gemfile
  - Gemfile.lock
  - _site/.vscode/
