<section id="newsletter" class="section section-bg section-padded">
	<div class="container">
		<div class="grid-12">
			<div class="text-center-sm col-span-4 mb-12">
				<i class="fas fa-envelope-open-text text-brand-accent text-3xl mb-4"></i>
				<h2 class="title-lg">The Automation Newsletter</h2>
				<p class="text-slate-400 mb-6">
					{{ include.text }}
				</p>
				<p class="text-sm text-slate-400">
					<i class="fas fa-lock text-brand-accent"></i> Your data will never be sold.
				</p>
			</div>
			<div class="col-span-8 lg-order-1">
				<div class="card">
					<div class="ml-embedded" data-form="qpikMp"></div>
				</div>
			</div>
		</div>
	</div>
</section>
