<section id="pain-points" class="section section-border">
	<div class="container space-y-8">

		<div class="card">
			<h3 class="heading-flex">
				<i class="fas fa-fire-extinguisher text-brand-tech"></i> Is shipping the wrong kind of exciting?
			</h3>
			<div class="grid-3">
				<div>
					<h4 class="subheading"><i class="fas fa-bug text-brand-tech"></i> Fragile features</h4>
					<p class="text-sm text-slate-400">Gameplay systems with so many edge cases that manual testing
						becomes a <span class="text-white">full-time job</span></p>
				</div>
				<div>
					<h4 class="subheading"><i class="fas fa-lock text-brand-tech"></i> Rigid systems</h4>
					<p class="text-sm text-slate-400"><span class="text-white">Technical debt quietly piling
							up</span>, with no safety net to support refactoring</p>
				</div>
				<div>
					<h4 class="subheading"><i class="fas fa-hourglass-half text-brand-tech"></i> Slow Release
						Cycles</h4>
					<p class="text-sm text-slate-400">Manual processes and long checklists turn
						day-long releases into <span class="text-white">weeks-long ordeals</span>.
					</p>
				</div>
			</div>
		</div>

		<div class="text-center mb-16">
			<h2 class="title-lg"><span class="text-brand-accent">Is there a better way?</span></h2>
			<p class="mx-auto text-slate-400">
				Automated AF will help you invest in build systems, test automation, and your team,<br />so you
				can playtest early, make big changes safely, and <span class="text-white">make builds boring</span>
			</p>
		</div>

	</div>
</section>