<section id="pain-points" class="section section-border">
	<div class="container">
		<div class="grid-12">

			<!-- Header -->
			<div class="col-span-4 mb-12">
				<div class="flex icon icon-big">
					<!-- TODO: add section icon asset -->
					<i class="fas fa-triangle-exclamation text-brand-accent"
						style="font-size: 3.5rem; margin-bottom: 1rem;"></i>
				</div>
				<h2 class="title-lg">Would you like shipping to more straightforward?</h2>
				<p class="text-slate-400 mb-6">
					There are signs that you could be underinvesting in quality, at the cost of velocity
				</p>
			</div>

			<!-- Content Grid -->
			<div class="col-span-8 space-y-8">
				<div class="card">
					<h3 class="heading-flex">
						<i class="fas fa-face-grin-beam-sweat text-brand-accent"></i> The wrong kind of exciting
					</h3>
					<div class="grid-3">
						<div>
							<h4 class="subheading text-brand-accent">Fragile Systems</h4>
							<p class="text-sm text-slate-400">Gameplay systems with so many edge cases that manual
								testing
								becomes a <span class="text-white">full-time job</span></p>
						</div>
						<div>
							<h4 class="subheading text-brand-accent">Technical debt</h4>
							<p class="text-sm text-slate-400">Rigid systems are <span class="text-white">hard to
									maintain</span>, with no safety net to
								fix it</p>
						</div>
						<div>
							<h4 class="subheading text-brand-accent">Slow Release Cycles</h4>
							<p class="text-sm text-slate-400">Manual processes and long checklists turn
								day-long releases into <span class="text-white">weeks-long ordeals</span>.
							</p>
						</div>
					</div>
				</div>
				<div class="card">
					<h3 class="heading-flex">
						<i class="fas fa-shuffle text-brand-accent"></i> Is there a better way?
					</h3>
					<p class="text-slate-400">Automated AF will help you invest in build systems, test automation, and
						your team, so you can move fast,
						playtest early, and <span class="text-white">make builds boring</span>
				</div>

			</div>
		</div>
	</div>
</section>