<section id="pain-points" class="section section-border section-padded-btm">
	<div class="container space-y-8">
		<div class="text-center mb-16">
			<h2 class="title-lg">Is shipping getting in the way of game development?</h2>
		</div>
		<div class=" max-w-3xl mx-auto">
			<div class="grid-3">
				<div>
					<h4 class="subheading text-brand-error"><i class="fas fa-bug"></i> Fragile features</h4>
					<p class="text-sm text-slate-400">Gameplay systems with so many edge cases that manual testing
						becomes a <span class="text-white">full-time job</span></p>
				</div>
				<div>
					<h4 class="subheading text-brand-error"><i class="fas fa-lock"></i> Wasted Hours</h4>
					<p class="text-sm text-slate-400">Hours <span class="text-white">looking at progress
							bars</span> or waiting for slow build
						servers, instead of making the game</p>
				</div>
				<div>
					<h4 class="subheading text-brand-error"><i class="fas fa-hourglass-half"></i> Slow Iteration</h4>
					<p class="text-sm text-slate-400">Manual processes and long checklists that make creating builds
						<span class="text-white">week-long ordeals</span>.
					</p>
				</div>
			</div>
		</div>
		<br />
		<div class="text-center mb-16">
			<h2 class="title-lg"><span class="text-brand-accent">Is there a better way?</span></h2>
			<p class="mx-auto text-slate-400">
				Automated AF will help you invest in build systems, test automation, and your team,<br />so you
				can playtest early, make big changes safely, and <span class="text-white">make builds boring</span>
			</p>
		</div>

	</div>
</section>