<section id="qa" class="section section-bg">
	<div class="container">
		<div class="grid-12">

			<!-- Header -->
			<div class="col-span-4 mb-12">
				<div class="flex icon icon-big">
					<img src="{{ '/assets/icon_heart.png' | relative_url }}" alt="QA Engineeering Icon">
					<!-- <video autoplay loop muted src="assets/icon-heart.webm"></video> -->
				</div>
				<h2 class="title-lg">QA Engineering</h2>
				<p class="text-slate-400 mb-6">
					Free your QA team from monotonous checklists with high-value automation that gives you an
					instant overview of build health
				</p>

				<!-- Testimonial Card -->
				<div class="mt-16">
					{% include elements/testimonial.html text="I would highly recommend Automated AF to any team who
					sense they would get a lot of value from automated testing, but no
					clear idea where to start" name="Ricky Haggett" role="Founder, Hollow Ponds" %}
				</div>

			</div>

			<!-- Content Grid -->
			<div class="col-span-8 lg-order-1 space-y-8">

				<!-- Build Health / Pragmatic Library -->
				<div class="grid-2">
					<div class="card">
						<h3 class="heading-flex">
							<i class="fas fa-heartbeat text-brand-tech"></i> Build Health
						</h3>
						<p class="text-slate-400">High-level tests provide an instant pulse check on your project. <span
								class="text-white">Know
								immediately</span> if a commit broke the game, and why.</p>
					</div>
					<div class="card">
						<h3 class="heading-flex">
							<i class="fas fa-toolbox text-brand-tech"></i> Useful Tests
						</h3>
						<p class="text-slate-400">We don't automate for the sake of it; we
							automate to <span class="text-white">save you time and money</span> by targeting your
							critical systems.</p>
					</div>

				</div>

				<div class="card">
					<h3 class="heading-flex">
						<i class="fas fa-users-cog text-brand-tech"></i> Empowered Teams
					</h3>
					<ul class="space-y-4 list-unstyled">
						<li class="flex flex-col md-flex-row gap-4">
							<div class="min-w-120 font-bold text-brand-tech">Designers</div>
							<div class="text-slate-400 text-sm">Enjoying rapid iteration on features with confidence
							</div>
						</li>
						<li class="flex flex-col md-flex-row gap-4">
							<div class="min-w-120 font-bold text-brand-tech">Programmers</div>
							<div class="text-slate-400 text-sm">Performing deep refactors with a safety net</div>
						</li>
						<li class="flex flex-col md-flex-row gap-4">
							<div class="min-w-120 font-bold text-brand-tech">QA testers</div>
							<div class="text-slate-400 text-sm">Doing what they do best: exploratory testing</div>
						</li>
						<li class="flex flex-col md-flex-row gap-4">
							<div class="min-w-120 font-bold text-brand-tech">Producers</div>
							<div class="text-slate-400 text-sm">Calmed by low bug counts and hit deadlines</div>
						</li>
					</ul>
				</div>

				<!-- Adaptive Engagement -->
				<div class="card">
					<h3 class="heading-flex">
						<i class="fas fa-server text-brand-tech"></i> Lifetime Value
					</h3>
					<p class="text-slate-400 mb-2">Fractional or short-term engagements can be extremely effective,
						especially before critical milestones. We work with you to find the <span
							class="text-white">right level of support</span> for
						your team and goals.</p>
					<p class="text-slate-400 mb-2">With our experience, we'll provide tests that are <span
							class="text-white">reactive</span> to changes
						in direction and <span class="text-white">maintainable</span> even after years of development.
					</p>
				</div>

			</div>
		</div>
	</div>
</section>