<section id="tech" class="section section-border">
	<div class="container">
		<div class="text-center mb-16">
			<h2 class="title-lg">Technologies</h2>
			<p class="mx-auto text-slate-400">
				Whatever your engine or infrastructure, we have the expertise to integrate seamlessly into your existing setup.
			</p>
		</div>

		<div class="icons-list mb-6 mt-6">
			<img src="assets/logo_godot.png" alt="Godot Logo" class="icon-small">
			<img src="assets/logo_unity.png" alt="Unity Logo" class="icon-small">
			<img src="assets/logo_unreal.png" alt="Unreal Engine Logo" class="icon-small">
		</div>
		<div class="icons-list mb-16 mt-6">
			<img src="assets/logo_jenkins.png" alt="Jenkins Logo" class="icon-small">
			<img src="assets/logo_aws.png" alt="AWS Logo" class="icon-small">
			<img src="assets/logo_github.png" alt="GitHub Logo" class="icon-small">
			<img src="assets/logo_teamcity.png" alt="TeamCity Logo" class="icon-small">
		</div>
	</div>
</section>
