<section id="training" class="section section-border">
	<div class="container">
		<div class="grid-12">
			<div class="col-span-4 mb-12">
				<div class="flex icon icon-big">
					<img src="{{ '/assets/icon_cog.png' | relative_url }}" alt="Automation Training Icon">
					<!-- <video autoplay loop muted src="assets/icon-cog.webm"></video> -->
				</div>
				<h2 class="title-lg">Automation Training</h2>
				<p class="text-slate-400 mb-6">
					Empower your team to solve their own problems with training in creating maintainable tests,
					automation strategies, and effective processes
				</p>
			</div>
			<div class="col-span-8 lg-order-1">
				{% include elements/testimonial.html text="Automated AF taught us when not to test, and how to make
				efficient use of our time; all good skills that aren't
				necessarily obvious without guidance" name="Neil Goodman" role="Lead Developer, Nerial" %}
			</div>
		</div>

		<!-- Content Grid -->
		<div class="col-span-8 lg-order-1 space-y-8 mt-16">

			<div class="grid-3">
				<div class="card">
					<i class="fas fa-code text-brand-tech text-3xl mb-4"></i>
					<h3 class="heading">For Programmers</h3>
					<p class="text-slate-400 mb-6 flex-grow">
						Teach your programmers to ship features with deep tests without losing velocity. Ensure your
						game's pillars become strong foundations, not tech debt factories.
					</p>
				</div>
				<div class="card">
					<i class="fas fa-graduation-cap text-brand-tech text-3xl mb-4"></i>
					<h3 class="heading">For QA Teams</h3>
					<p class="text-slate-400 mb-6 flex-grow">Skill up your QA staff to write high-level tests that save
						them time. Give them the tools and knowledge to be more effective. No prior programming skills
						required.</p>
				</div>

				<div class="card">
					<i class="fas fa-chalkboard-teacher text-brand-tech text-3xl mb-4"></i>
					<h3 class="heading">Logistics</h3>
					<ul class="space-y-3 text-slate-400 flex-grow list-unstyled">
						<li class="flex items-center gap-2"><i class="fas fa-check text-brand-tech"></i> In-studio or
							Remote</li>
						<li class="flex items-center gap-2"><i class="fas fa-check text-brand-tech"></i> 1-Day Crash
							Course</li>
						<li class="flex items-center gap-2"><i class="fas fa-check text-brand-tech"></i> 3-Day Deep Dive
						</li>
						<li class="flex items-center gap-2"><i class="fas fa-check text-brand-tech"></i>
							Unity/Unreal/Godot
						</li>
					</ul>
				</div>
			</div>
		</div>
</section>