.icon {
    width: 256px;
    height: 256px;
    background-size: cover;
    position: absolute;
    visibility:hidden;
    margin: -32px 0 0 -256px;

    @media (min-width: $breakpoint-xl) {
        visibility:visible;
	}
}

.icon-cog {
    background-image: url("/assets/icon_cog.png");
}

.icon-heart {
    background-image: url("/assets/icon_heart.png");
}

img.icon-small{
    max-height: 80px;
    max-width: 200px
}

.icons-list {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    > img {
        margin: 0 1.5rem;
    }
}