<div class="logo-grid logo-grid-lg" id="logo">
    <div class="cell tri-tl orange" style="--d:0s"></div>
    <div class="cell orange" style="--d:0.1s"></div>
    <div class="cell green" style="--d:0.2s"></div>
    <div class="cell orange" style="--d:0.3s"></div>
    <div class="cell empty"></div>
    <div class="cell green" style="--d:0.4s"></div>
    <div class="cell orange" style="--d:0.5s"></div>
    <div class="cell orange" style="--d:0.6s"></div>
    <div class="cell green" style="--d:0.7s"></div>
    <div class="cell orange" style="--d:0.8s"></div>
    <div class="cell empty"></div>
    <div class="cell green" style="--d:0.9s"></div>
</div>